@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles */
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

/* Global.css */
body {
  font-family: 'Inter', sans-serif;
}

@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}